<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <% include ../partials/scripts %>
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <title>Панель Администратора</title>

</head>
<body>
<!--форма ошибки -->
<% if (err.message != '') { %>
<div class="ui modal" id="error-block">
    <i class="close icon"></i>
    <div class="header">
        Ошибка входа
    </div>
    <div class="image content">
        <div class="description">
            <%= err.message %>
        </div>
    </div>
    <div class="actions">
        <form id="exit-button">
            <button class="positive ui button" >Закрыть</button>
        </form>
    </div>
</div>
<script>$('#error-block').modal('show');</script>
<% } %>

<div class="ui main text container">

    <div class="ui container" style="border: 2px solid black;margin-top:20px">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <h1 class="ui header">Панель Администратора</h1>
            <div class="right item">
                <form>
                <button class="positive ui button" formaction="/auth/logout" >Выйти</button>
                </form>
            </div>
        </div>
    </div>
    <div class="ui horizontal section divider">Список пользователей</div>
    <div class="ui container">
        <table class="ui celled table">
            <thead>
            <th>Пользователи</th>
            <th></th>

            </thead>
            <tbody>
          <% user.forEach(function(users, index) { %>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <div class="content">
                            <i class="user icon"></i>
                            <%= users.firstname %> <%= users.lastname %>
                        </div>
                </td>
                <td>
                    <div class="extra content">
                        <form action="/users/destroy/<%=users.id%>?" method="get" style="display: inline" id="destroy_form<%= index %>">
                            <a onclick="document.getElementById('destroy_form<%= index %>').submit(); return false;">
                                <i class="remove icon"></i> Удалить
                            </a>
                        </form>
                        <form action="/users/block/<%=users.id%>?" method="post" style="display: inline" >
                            <% if (users.status == 0) {%>
                                <button class="ui primary button" type="submit" >Заблокировать</button>
                            <% } %>
                            <% if (users.status == 1) {%>
                                <button class="ui primary button" type="submit" >Разблокировать</button>
                            <% } %>
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">


            <div class="seven wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header">Ссылки</h4>
                    <img src="/public/swagg.png"><a id="swagger-link" class="item" href="/public/swagger/private.html">Private Swagger documentation</a>
                    <img id="git-img" class="item" src="/public/GitHub-Mark-32px.png"><a id="git-link" class="item" href="https://github.com/chernyavskii/media-gallery">GitHub Repository</a>
                </div>
                <p style="margin-top:100px">2017. Created by Chernyavskiy Michael. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>