<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <% include ../partials/scripts %>
    <link href="/public/css/images.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <title>Картинки</title>

</head>
<body class="pushable">
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="active item" href="/posts/">Главная</a>
        <a class="item" href="/posts/audio">Музыка</a>
        <a class="item" href="/posts/images">Картинки</a>
        <a class="item" href="/posts/video">Видеозаписи</a>
        <div class="right menu">
            <a class="active item" href="/auth/logout">Выйти</a>
        </div>
    </div>
</div>
<div class="ui vertical inverted sidebar menu">
    <a class="active item" href="/posts/">Главная</a>
    <a class="item" href="/users/profile">Мой профиль</a>
    <a class="item" href="/posts/useraudio">Мои аудиозаписи</a>
    <a class="item" href="/posts/userimages">Мои картинки</a>
    <a class="item" href="/posts/uservideo">Мои видеозаписи</a>
    <a class="item" href="/auth/logout">Выйти</a>
</div>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item" href="/posts/">Главная</a>
                <a class="item" href="/posts/audio">Музыка</a>
                <a class="item" href="/posts/images">Картинки</a>
                <a class="item" href="/posts/video">Видеозаписи</a>
                <div class="right item">
                    <button class="ui inverted red basic button" id="exit-button">Выйти</button>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header" style="font-family: 'Open Sans Condensed', sans-serif;">
                Картинки
            </h1>
            <h2 style="font-family: 'Open Sans Condensed', sans-serif;">Поделись моментом.</h2>

            <div class="ui huge primary button" id="download-btn">Загрузить<i class="right arrow icon"></i></div>
        </div>

    </div>

    <h3 class="ui center aligned header">Последние добавленные картинки</h3>
    <div class="main-container">

        <div class="ui three column doubling stackable grid container">
            <% posts.forEach(function(post, index) { %>
            <div class="column">
                <div class="ui card">
                    <% if (post.type == 'image') { %>
                    <div class="ui special cards" style="height: 300px;">
                        <div class="card" style=" height: 280px;">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="/posts/post/<%= post.id %>">
                                                <div class="ui inverted button">Подробнее</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                    <img id="image-card" src="<%= post.image %>" style="max-height: 300px">
                            </div>
                            <div class="content">
                                <span class="left floated like">
                                    <form>
                                    <button class="ui labeled button"  formaction="/posts/like/<%= post.id %>">
                                    <i class="like icon"></i>
                                    <%=post.likes%>
                                    </button>
                                    </form>

                                </span>
                                <a class="header" style="margin-top:-1px;margin-left:34px;"><%=post.title%></a>
                                <div class="extra">
                                    <img src="<%= post.user.dataValues.image%>" class="ui circular avatar image"> <a href="/users/user/<%=post.user.dataValues.id%>"><%=post.user.dataValues.email%> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>
            </div>

            <% }); %>
        </div>
    </div>
    <hr>

    <div class="ui modal" id="new-post-block">
        <i class="close icon"></i>
        <div>
            <form action="/posts/create" method="post" enctype="multipart/form-data" class="ui form">
                <div class="field" id="field-new-post-descr">
                    <label style="margin-top: 20px;">Заголовок</label>
                    <input name="title" type="text" placeholder="Заголовок" />
                </div>
                <div class="field" id="field-new-post-descr">
                    <label>Описание</label>
                    <textarea rows="4" name="description" placeholder="Описание"></textarea>
                </div>
                <div class="field" id="field-new-post-descr">
                    <label>Файл</label>
                    <input name="image"  type="file" accept="audio/*, image/*, video/*" />
                </div>
                <button id="new-post-button" class="ui primary button" type="submit" style=" font-size: 23px;">Поделиться</button>
            </form>
            <div class="ui error message"></div>
        </div>

    </div>

    <!--форма выхода-->
    <div class="ui modal" id="success-block">
        <i class="close icon"></i>
        <div class="header">
            Выход
        </div>
        <div class="image content">
            <div class="description">
                Вы действительно хотите выйти?
            </div>
        </div>
        <div class="actions">
            <form id="exit-button">
                <div class="ui cancel button">Отмена</div>
                <button class="positive ui button" formaction="/auth/logout" >Выйти</button>
            </form>
        </div>
    </div>
    <script>
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    </script>
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Меню</h4>
                <div class="ui inverted link list">
                    <a class="item" class="item" href="/users/profile">Мой профиль</a>
                    <a class="item" class="item" href="/posts/useraudio">Мои аудиозаписи</a>
                    <a class="item" class="item" href="/posts/userimages">Мои картинки</a>
                    <a class="item" class="item" href="/posts/uservideo">Мои видеозаписи</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Сервисы</h4>
                <div class="ui inverted link list">
                    <a class="item" class="item" href="/posts/audio">Музыка</a>
                    <a class="item" class="item" href="/posts/images">Картинки</a>
                    <a class="item" class="item" href="/posts/video">Видеозаписи</a>
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header">Ссылки</h4>
                    <img src="/public/swagg.png"><a id="swagger-link" class="item" href="/public/swagger/public.html">Public Swagger documentation</a>
                    <img id="git-img" class="item" src="/public/GitHub-Mark-32px.png"><a id="git-link" class="item" href="https://github.com/chernyavskii/media-gallery">GitHub Repository</a>
                </div>
                <p style="margin-top:100px">2017. Created by Chernyavskiy Michael. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
